<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Home</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta charset="utf-8" />
	<meta name="keywords" content="" />

	<script> 
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

		function login() {
			$.ajax({
				url: "../toLogin",
				type: "post",
				data: $("#lg").serialize(),
				// data: "username="+document.getElementById("username").value+"&password="+document.getElementById("password").value,
				success:function (result) {
					if(result.success){
                        window.location.href="../index";
					}else{
					    alert(result.msg);
					}
                }
			})
        }
	</script>

	<!-- //for-mobile-apps -->
	 <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!--banner slider  -->
	<link href="css/JiSlider.css" rel="stylesheet">
	<!-- //banner-slider -->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	 <link href="css/font-awesome.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/demo.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
	<link href="login/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
	<link href="login/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="login/js/jquery1.42.min.js"></script>
	<script type="text/javascript" src="login/js/jquery.SuperSlide.js"></script>
	<script type="text/javascript" src="login/js/Validform_v5.3.2_min.js"></script>
</head>

<body>
	<!-- header -->
	<section class="w3layouts-header py-2">
		<div class="container">
			  <!-- header -->
		<header>
				<nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

					<h1>
						<a class="navbar-brand" href="../index">
							吉珠速运
						</a>
					</h1>
					<!--<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
							<!--aria-expanded="false" aria-label="Toggle navigation">-->
						<!--<span class="navbar-toggler-icon"></span>-->
					<!--</button>-->

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-lg-auto text-center">
							<li class="nav-item  mr-3">
								<a class="nav-link" href="../index">主页
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item  mr-3">
								<a class="nav-link" href="send">
									在线寄件
								</a>
							</li>
							<li class="nav-item dropdown mr-3">
								<a class="nav-link" href="../search_order" >
									客户服务
								</a>
							</li>
							<li class="nav-item">
								<a href="question" class="nav-link">问题咨询</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
        <!-- //header -->

		</div>
	</section>
	<!-- //header -->

	<div class="banner">

		<div class="login-aside">
			<div id="o-box-up"></div>
			<div id="o-box-down"  style="table-layout:fixed;">
				<div class="error-box"></div>

				<form class="registerform" id="lg" onsubmit="return false;">
					<div class="fm-item">
						<label class="form-label">会员登陆：</label>
						<input type="text" placeholder="输入账号" maxlength="100" id="username" name="username" class="i-text" >
						<div class="ui-form-explain"></div>
					</div>

					<div class="fm-item">
						<label class="form-label">登陆密码：</label>
						<input type="password" value="" maxlength="100" id="password" name="password" class="i-text" >
						<div class="ui-form-explain"></div>
					</div>
					<div class="fm-item">
						<label class="form-label"></label>
						<input type="submit" value="" tabindex="4" id="send-btn" class="btn-login" onclick="login()">
						<div class="ui-form-explain"></div>
					</div>
				</form>
				<br>
				<a href="#">忘记密码</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<a href="register">注册会员</a>
			</div>

		</div>

		<div class="bd">
			<ul>
				<li style="background:url(login/themes/bg1.jpg) #CCE1F3 center 0 no-repeat; height: 850px"><a target="_blank" href="#"></a></li>
				<!--<li style="background:url(themes/theme-pic2.jpg) #BCE0FF center 0 no-repeat;"><a target="_blank" href="#"></a></li>-->
			</ul>
		</div>

		<div class="hd"><ul></ul></div>
	</div>
	<script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });</script>

	<!--footer-->
	<section class="footer py-md-5">
		<div class="container py-4 mt-2">
			<div class="row footer_inner_info_w3ls_agileits">
				<div class="col-md-3 footer-left">
					<h2><a href="index.html"> 版权拥有</a></h2>
					<p class="mb-3 mt-3">吉珠速运有限公司</p>
					<ul class="social-nav footer-social social two">
						<li>
							<a href="#">
								<i class="fab fa-facebook-f" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-pinterest" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="col-md-2 sign-gd">
					<h4>业务产品</h4>
					<ul>
						<li><a href="index.html">增值业务</a></li>
						<li><a href="about.html">港台件</a></li>
						<li><a href="services.html">国际件</a></li>
						<li><a href="gallery.html">售后服务</a></li>
						<li><a href="contact.html">商务合作</a></li>
					</ul>
				</div>
				<div class="col-md-4 sign-gd flickr-post">
					<h4 style="font-family: AngsanaUPC">吉珠速运</span></h4>
					<ul>
						<li><a href="#"><img src="images/g1.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g2.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g3.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g4.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g5.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g6.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g7.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g8.jpg" alt=" " class="img-fluid" /></a></li>
						<li><a href="#"><img src="images/g9.jpg" alt=" " class="img-fluid" /></a></li>
					</ul>
				</div>
				<div class="col-md-3 sign-gd-two">
					<h4>联系方式</h4>
					<div class="address">
						<div class="address-grid">
							<div class="address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="address-right">
								<h6>Phone Number</h6>
								<p>+020 43962800</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="address-grid">
							<div class="address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> 2454817543@qq.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="address-grid">
							<div class="address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="address-right">
								<h6>Location</h6>
								<p>吉林大学珠海学院.

								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<p class="copy-right py-3">Copyright &copy; 2018.Company name All rights reserved.</p>

	<!-- //footer -->
</footer>

	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js-->
	<!--banner-slider-->
	<script src="js/JiSlider.js"></script>
	<script> 
		$(window).load(function () {
			$('#JiSlider').JiSlider({
				color: '#fff',
				start: 1,
				reverse: false
			}).addClass('ff')
		})
	</script>
	<!-- //banner-slider -->
	<!-- flexSlider -->
					<script defer src="js/jquery.flexslider.js"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
				<!-- //flexSlider -->

	<!-- start-smooth-scrolling -->
	<script  src="js/move-top.js"></script>
	<script  src="js/easing.js"></script>
	<script> 
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->

	<!-- smooth-scrolling-of-move-up -->
	<script> 
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script  src="js/SmoothScroll.min.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	 <script src="js/bootstrap.js"></script>
</body>

</html>